.dot-button {
    background-color: transparent;
    border: none;
    color: var(--text-title);
}
.dropdown-menu {
    background-color: var(--background-extra);
}
.dropdown-item {
    color: var(--text-subtitle);
}
.dropdown-item.update:hover {
    background-color: var(--color-info);
}
.dropdown-item.delete:hover {
    background-color: var(--color-error);
}
.dropdown-item.archive:hover {
    background-color: var(--color-warning);
}
.dropdown-item.publish:hover {
    background-color: var(--color-success);
}