@import url(style.css);

/* topbar layout */
.main-body {
    display: flex;
    flex-direction: column;
}
/* topbar style */
.top-nav-bar {
    background-color: var(--background-extra);
    display: flex;
    border-bottom: var(--text-disabled) var(--border-lg) solid;
}
.topbar-btn {
    align-self: flex-start;
    justify-self: flex-end;
}

.topbar-hide {
    display: none;
}
.top-nav-mini {
    flex-grow: 1;
    padding: var(--space-md);
}
.top-nav-mini ul {
    display: flex;
    gap: var(--gap-md);
    margin: 0;
}
.top-nav-mini li {
    list-style-type: none;
}

.top-nav-max {
    flex-grow: 1;
}