@import url(style.css);

.top {
    display: flex;
    gap: 2rem;
}
.top button{
    padding: 1rem;
    padding-bottom: 0;
    border: none;
    color: white;
    border-bottom: var(--border-primary) 5px solid;
    background-color: transparent;
}
.top button:hover {
    background-color: var(--border-hover);
}

.top .active {
    background-color: var(--border-hover);
}

.cnt {
    border: var(--border-primary) 2px solid;
    padding: var(--space-md);
    border-radius: var(--radius-xl);
    margin-top: var(--space-xl);
    cursor: pointer;
}
.cnt h1{
    color: var(--text-title);
    font-family: var(--font-family-secondary);
}
.cnt h5 {
    color: var(--text-subtitle);
}
.cnt-usr {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
}
.profile-pic {
    width: 48px;
    border-radius: var(--radius-full);
    aspect-ratio: 1;
    object-fit: cover;
}
.cnt-usr p {
    text-align: center;
    margin: 0;
}
