@import url(style.css);

.top {
    display: flex;
    gap: 2rem;
}
.top button{
    padding: 1rem;
    padding-bottom: 0;
    border: none;
    color: white;
    border-bottom: var(--border-primary) 5px solid;
    background-color: transparent;
}
.top button:hover {
    background-color: var(--border-hover);
}

.top .active {
    background-color: var(--border-hover);
}

.cnt {
    border: var(--txt-dark) 2px solid;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
}
.cnt h1{
    color: var(--btn-primary);
    font-family: "DM Serif Display",serif;
}
.cnt h5 {
    color: var(--txt-primary);
}
.cnt-usr {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.cnt-usr img {
    width: 48px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
}
.cnt-usr p {
    text-align: center;
    font-size: large;
    margin: 0;
}
