/* --- TRUE FLUID SPLIT --- */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 6px 1fr;   /* editor | splitter | preview */
    width: 100%;
    height: 100vh;
}

/* Panels */
.editor-panel {
    overflow: hidden;
}

.preview-panel {
    overflow-y: auto;
    padding: 20px;
    background: var(--background);
    color: var(--text-title);
    /* border-left: 1px solid #ccc; */
    font-size: var(--font-size-caption);
}

/* Splitter */
.splitter {
    background: var(--text-caption);
    cursor: col-resize;
    user-select: none;
}

/* CodeMirror */
.CodeMirror {
    height: 100%;
    font-size: var(--font-size-caption);
    background-color: var(--background);
    color: var(--text-caption);
    
}

.CodeMirror-gutters {
    background-color: var(--background-extra) !important;   /* gutter background */
}

.CodeMirror-linenumbers {
    background-color: transparent;       /* optional */
}

