
@import url(style.css);

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    margin-top: var(--space-xl);
}

.search-inp > input {
    background-color: transparent;
    border: 2px solid var(--border-primary);
    border-radius: var(--radius-lg);
    padding: var(--space-xs);
    width: 20rem;
    color: var(--text-title);
    outline: none;
}

.search-inp > input:focus {
    border-color: var(--border-hover);
}

.switch-btn {
    padding: var(--space-xs) var(--space-sm);
    border: var(--border-primary) solid 2px;
    background: transparent;
    cursor: pointer;
    color: var(--text-title);
}

.switch-btn.active {
    background: #3b82f6;   /* highlight color */
    color: white;
    border-color: #3b82f6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-md);
    margin-top: var(--space-md);
}
.cnt {
    border: var(--border-primary) 2px solid;
    padding: var(--space-md);
    border-radius: var(--radius-lg);
}

.cnt:hover {
    cursor: pointer;
}
