@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend+Deca:wght@100..900&display=swap');
:root {
    --bg:#272727;
    --border:#38583e;
    --txt-dark:#070e08;
    --txt-light:#ffffff;
    --txt-primary:#8d8d8d;
    --txt-secondary:#5cba6c;
    --btn-primary:#6eeb83;
}

body {
    background-color: var(--bg);
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    color: var(--txt-light);
}

