a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.user-posts {
    border: 2px solid var(--border-primary);
    border-left: none;
    flex-grow: 1;
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    overflow-y: scroll;
}

.post-card {
    border-left: 2px solid var(--border-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dot-button {
    background-color: transparent;
    border: none;
    color: var(--text-title);
}
.dropdown-menu {
    background-color: var(--background-extra);
}
.dropdown-item {
    color: var(--text-subtitle);
}
.dropdown-item.update:hover {
    background-color: var(--color-info);
}
.dropdown-item.delete:hover {
    background-color: var(--color-error);
}
.dropdown-item.archive:hover {
    background-color: var(--color-warning);
}
.post {
    /* border-radius: var(--radius-xl); */
    padding: var(--space-md);
    cursor: pointer;
}

.post h1 {
    color: var(--text-title);
}

.post p {
    color: var(--text-subtitle);
}