@import url(style.css);


.follow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.follow-user {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: fit-content;
}

.follow-title {
    border-bottom: 2px solid var(--border-primary);
    width: 100%;
    text-align: center;
}

.users-box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    padding: var(--space-md);
    box-sizing: border-box;
    gap: var(--gap-md);
    overflow-y: scroll;
}