<!-- templates/display.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <form action="/delete" method="post">

                <tr>
                    <td>
                        <input type="radio" value="{{user.id}}" name="item" id="">
                    </td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <input type="submit" value="submit">
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>

    <a href="/create">create</a>
</body>

</html>
