<!-- templates/display.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Update/Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/update_usr/{{user.id}}">update</a>
                    <br>
                    <a href="/delete_usr/{{user.id}}">delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <button type="submit">Update</button>
        <button type="submit">Delete</button>

    </table>

    {% if update %}
        <h1>Add New User</h1>
        <form action="/update_usr/{{new_user.id}}" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" value="{{new_user.username}}" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{new_user.email}}" required><br><br>

            <input type="submit" value="Add User">
        </form>
    {% else %}
        <h1>Add New User</h1>
        <form action="/add_user" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>
    
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
    
            <input type="submit" value="Add User">
        </form>
    {% endif %}

</body>
</html>
