{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}

{% block body %}
    
    {% include 'nav.html' %}

    <section>
        <div class="container" style="display: flex;gap: 5rem;">
            <div class="post">
                <div style="margin-left: 2rem; margin-right: 2rem;">
                    <div class="cnt">
                        <div class="cnt-tit">
                            <h3>{{post.title}}</h3>
                            <h6>{{post.description}}</h6>
                            <h6 style="color: black;">{{post.created_at.strftime("%Y-%m-%d")}}</h6>
                            <p style="margin-left: 5rem;margin-right: 5rem;">{{post.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block scripts %}
        <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    {% endblock %}

{% endblock %}