{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create-topbar.css') }}">
{% endblock %}

{% block body %}
<section class="main-body">
    <div class="top-nav-bar">
        <nav id="topbar-mini" class="top-nav-mini">
            <ul>
                <li></li>
                <li>hellow</li>
                <li>hellow</li>
                <li>hellow</li>
            </ul>
        </nav>
        <div id="topbar-max" class="topbar-hide  top-nav-max">
            {% include 'create-topbar.html' %}
        </div>
        <button id="toggleTopbar" class="toggle-topbar">show</button>
    </div>
    <!-- Main Content -->
    <main class="content">
      <h1>Main Content Area</h1>
      <p>Your app content goes here.</p>
      
    </main>
</section>





    {% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create.js') }}"></script>

    {% endblock %}

{% endblock %}
