<div 
    id="c-follow-{{ user_id }}" 
    class="follow-component"
>
    {% if is_following %}
        <button 
            hx-post="/users/{{ user_id }}/follow"
            hx-target="#c-follow-{{ user_id }}"
            hx-swap="outerHTML"
            class="unfollow-btn"
        >
            Following ✔
        </button>
    {% else %}
        <button 
            hx-post="/users/{{ user_id }}/follow"
            hx-target="#c-follow-{{ user_id }}"
            hx-swap="outerHTML"
            class="follow-btn"
        >
            Follow +
        </button>
    {% endif %}
</div>
