<style>

nav {
    position: relative;
    display: flex;
    justify-content: center;
}
.foot-nav {
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: var(--space-xs);
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    gap: var(--space-lg);
    border: var(--border-primary) solid 2px;
    border-radius: var(--radius-xl);
}
nav img {
    width: 2.5rem;
}

.profile-pic {
    aspect-ratio: 1;
    object-fit: cover;
}


</style>


<footer>
    <nav>
        <div class="foot-nav">
            <a href="/"><img src="{{ url_for('static',filename='icons/home.svg')}}" alt="" srcset=""></a>
            <a href="/search"><img src="{{ url_for('static',filename='icons/search.svg')}}" alt="" srcset=""></a>
            <a href="/create"><img src="{{ url_for('static',filename='icons/add_circle.svg')}}" alt="" srcset=""></a>
            <a href="/profile"><img class="profile-pic"
                {% if is_user.profile.pic %}
                 src="{{ url_for('media', filename='upload/' ~ is_user.profile.pic) }}" 
                 {% else %}
                 src="{{ url_for('static',filename='images/prf.jpeg')}}" 
                 {% endif %}
                 alt="" srcset="" style="border-radius: 50%;"></a>
        </div>
    </nav>
</footer>