<style>

nav {
    position: relative;
    display: flex;
    justify-content: center;
}
.foot-nav {
    background-color: var(--bg);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    gap: 1.5rem;
    border: var(--border) solid 2px;
    border-radius: 15px;
}
nav img {
    width: 2.5rem;
}

.profile-pic {
    aspect-ratio: 1;
    object-fit: cover;
}


</style>


<footer>
    <nav>
        <div class="foot-nav">
            <a href="/"><img src="{{ url_for('static',filename='icons/home.svg')}}" alt="" srcset=""></a>
            <a href=""><img src="{{ url_for('static',filename='icons/search.svg')}}" alt="" srcset=""></a>
            <a href="/create"><img src="{{ url_for('static',filename='icons/add_circle.svg')}}" alt="" srcset=""></a>
            {% if is_user.profile.pic %}
            <a href="/profile"><img class="profile-pic" src="{{ url_for('static',filename='upload/'+is_user.profile.pic )}}" alt="" srcset="" style="border-radius: 50%;"></a>
            {% else %}
            <a href="/profile"><img class="profile-pic" src="{{ url_for('static',filename='images/prf.jpeg')}}" alt="" srcset="" style="border-radius: 50%;"></a>
            {% endif %}
        </div>
    </nav>
</footer>
