{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-posts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-topbar.css') }}">
{% endblock %}

{% block body %}
    
    {% include 'nav.html' %}

    <section>
        <div class="profile">
            {% include 'profile-sidebar.html' %}
            {% include 'user-posts.html' %}
        </div>
    </section>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}

{% endblock %}