{% extends "base.html" %}

{% block title %}search{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<div class="search-bar">
    <div class="search-inp">
        <input type="text" name="q" hx-get="/search-people" hx-trigger="keyup changed delay:500ms" hx-target="#results" id="search" placeholder="search..." >
    </div>
    <div class="search-by">
        <button 
            type="button" 
            class="switch-btn active" 
            data-target="/search-people"
            id="btn-people">
            People
        </button>

        <button 
            type="button" 
            class="switch-btn" 
            data-target="/search-posts"
            id="btn-posts">
            Post
        </button>
    </div>
</div>

<div class="content">
    <div id="results" class="container">
    </div>
</div>


{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% endblock %}

