<div class="dashboard-sidebar">
    <div class="dashboard-child" hx-get="/dashboard/drafts" hx-target="#main-content" hx-swap="innerHTML">
        Draft Posts
    </div>

    <div class="dashboard-child" hx-get="/dashboard/likes" hx-target="#main-content" hx-swap="innerHTML">
        Likes
    </div>

    <div class="dashboard-child" hx-get="/dashboard/archive" hx-target="#main-content" hx-swap="innerHTML">
        Archive Posts
    </div>

    <div class="dashboard-child" hx-get="/dashboard/comments" hx-target="#main-content" hx-swap="innerHTML">
        Comments
    </div>

    <div class="dashboard-child" hx-get="/dashboard/following" hx-target="#main-content" hx-swap="innerHTML">
        Following
    </div>


    <div class="dashboard-child" hx-get="/dashboard/followers" hx-target="#main-content" hx-swap="innerHTML">
        Followers
    </div>

    <div class="dashboard-child" hx-get="/dashboard/security" hx-target="#main-content" hx-swap="innerHTML">
        Password and Security
    </div>

    <div class="dashboard-child" hx-get="/dashboard/phone" hx-target="#main-content" hx-swap="innerHTML">
        Phone Verification
    </div>

    <div class="dashboard-child" hx-get="/dashboard/email" hx-target="#main-content" hx-swap="innerHTML">
        Email Verification
    </div>

    <div class="dashboard-child" hx-get="/dashboard/2fa" hx-target="#main-content" hx-swap="innerHTML">
        2 factor authentication
    </div>

    <div class="dashboard-child" hx-get="/dashboard/logout" hx-target="#main-content" hx-swap="innerHTML">
        Logout
    </div>

    <div class="dashboard-child" hx-get="/dashboard/about" hx-target="#main-content" hx-swap="innerHTML">
        About
    </div>

    <div class="dashboard-child" hx-get="/dashboard/help" hx-target="#main-content" hx-swap="innerHTML">
        Help
    </div>

    <div class="dashboard-child" hx-get="/dashboard/bookmarks" hx-target="#main-content" hx-swap="innerHTML">
        Bookmark Posts
    </div>

</div>
