<div class="dash-page">
  <h2><i class="bi bi-people"></i> Connections</h2>
  <div class="connections-grid">
    <div>
      <h3>Followers</h3>
      <div class="post-container">
        {% with users=followers_users %}
          {% include 'users.html' %}
        {% endwith %}
      </div>
    </div>
    <div>
      <h3>Following</h3>
      <div class="post-container">
        {% with users=following_users %}
          {% include 'users.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
