<div class="dropdown">
    <button class="dot-button" data-bs-toggle="dropdown">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item update" href="/posts/{{post.id}}/update">Update</a></li>
        <li>
            <a 
                class="dropdown-item delete"
                hx-get="/posts/confirm-delete/{{ post.id }}"
                hx-target="#deleteModalContent"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                href="#"
            >
                Delete
            </a>
        </li>

        <li><a class="dropdown-item archive" href="/posts/{{post.id}}/archive">Archive</a></li>
    </ul>
</div>